@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(18, 3, 27);
    font-family: "Raleway",sans-serif;
}

.container {
    width: 85vw;
    margin: 0 auto;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    border-left: 2px solid white;
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
nav ul li a:hover {
    color: #ff00c8;
}
section {
    height: auto;
}

.content-categories {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-name:nth-child(1) h1 {
    color: white;
    font-size: 6vw;
}

.header-name:nth-child(2) h1 {
    color: white;
    font-size: 4vw;
}

.border-gradient {
    color: white;
}

.choose-categories {
    color: white;
    margin: 20px 0;
}

.border-gradient {
    margin: 20px 0;
    background: linear-gradient(90deg,
            #f82eb5,
            #3d0a44,
            #3d0a44,
            #3d0a44,
            #f82eb5);
    padding: 10px 800px;
    border-radius: 50px;
}

.categories-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-filter {
    color: white;
}

/* Gallery Filter Section */
.gallery-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gallery-filter .filter-item {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 1.2;
    transition: all 0.3s ease;
}

.gallery-filter .filter-item.active {
    color: #ff00c8;
    border-color: #ff00c8;
}

/* Gallery Image Section */
.row {
    columns: 300px;
    column-gap: 20px;
    column-count: 3; 
}
.box img{
    width: 100%;
    margin: 10px 0;
}
.box{
    transition: transform .3s ease-out;
}
.box :hover{
    transform: scale(1.1);
}
.container2 .box img {
    max-width: 100%;
    border-radius: 20px;
}

/* Hide images initially if they don't match filter */
.box {
    display: block;
}
footer{
    position: relative;
}
.footermain{
    background-color: rgb(44, 44, 44);

}
.padding{
    padding: 10px 0;
}
.row2{
    display: flex;
    justify-content: space-between;
}
.row-con{
    width: 500px;
}
.text-cen{
    color:#ffffff;
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}
.arrowtop{
    position: fixed;
    bottom: 0;
    margin-right: 27px;
    margin-bottom: 80px;
    right: 0;
}
.arrowtop i{
    background: #474747;
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 100px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gallery .gallery-item.hide {
    display: none;
}

/*responsive*/
@media(max-width: 991px) {
    .gallery .gallery-item {
        width: 50%;
    }
}

@media(max-width: 767px) {
    .gallery .gallery-item {
        width: 100%;
    }

    .gallery .gallery-filter .filter-item {
        margin-bottom: 10px;
    }
    .row2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .row-con{
        width: 300px;
        padding: 20px 10px;
    }
}