/*---------------Netivigation Bar--------------*/
/*พื้นหลังแท้กสีดำ*/
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: TH K2D July8;
  }
  
  /* กำหนดแท้ก nav a ทั่วไป */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* เปลี่ยนสีถ้าเม้าวาง */
  .topnav a:hover {
    background-color: #f2406650;
    color: #f2f2f2;
  }
  
  /* ช่องโลโก้ */
  .topnav a.logo {
    float: left;
    background-color: #f24066;
    padding: 0;
  }

  /* ภาพโลโก้ */
  .topnav a.logo img{
    height: 50px;
    vertical-align: middle;
  }

  /* text ชื่อบริษัท */
  .topnav a.text {
    float: left;
    text-align: left;
    margin-left: 10px;
    color: #f2f2f2;
    background-color: #333;
    font-family:TH K2D July8;
  }




/*---------------Back To Top--------------*/
#myBtn {
  display: none;
  position: fixed; /* ล้อกตำแหน่ง */
  bottom: 20px;
  right: 30px;
  z-index: 99; /* ล้อกตำแหน่ง */
  border: none;
  outline: none;
  background-color: #f24066;
  cursor: pointer; /* ตั้งค่าเม้า */
  padding: 10px;
  width: 45px;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 20px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  

body {
  flex-direction: column; /* Stack sections vertically */ 
}

.headertext
{
  color: white;
}

.container {
    padding: 0 16px;
    font-family: 'TH K2D July8';
    display: flex;
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Horizontally centers the items */
    margin-top: 50px;
    height: 30vh;
    background-color: #434343;
  }
  
.carousel {
    position: relative;
    width: 400px;
    height: 30vh;
    overflow: hidden;
    margin-right: 20px;
}
.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-iteration-count: infinite;
}
.carousel img:nth-child(1) {
    animation-delay: 0s;
}
.carousel img:nth-child(2) {
    animation-delay: 3s;
}
.carousel img:nth-child(3) {
    animation-delay: 6s;
}
.carousel img:nth-child(4) {
    animation-delay: 9s;
}
.carousel img:nth-child(5) {
    animation-delay: 12s;
}
@keyframes fadeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    30% {
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        transform: scale(75%);
        opacity: 0;
    }
}

.text-container {
  position: relative;
  font-size: 2.5vw;
  font-weight: 400;
}

.typing-text {
  margin-left: 1vw;
  font-size: 2.5vw;
  font-weight: 900;
  max-width: 100%;
  position: absolute;
  display: inline-block;
  color:red;
}

.typing-text::after {
  content: "|";
  background-color: #b74b4b;
  position: relative;
  width: 15px;
  height: 100%;
  animation: cursor 0.6s infinite;
}
@keyframes cursor {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.subtext {
  color:white;
  font-size: 1.5vw;
  margin-top: 1vh;
}

.column {
    float:left;
    margin: 5%;
    width: 33%;
    flex-direction: row;
  }
  


  .team-container {
    margin:5%;
    display: flex;
    flex-wrap: wrap;                  /*  allow items to wrap  */
    justify-content: center;
    gap: 25px ;
  }
  .team-member {
    flex-basis: calc(100% - 10x); /*  subtract the margin from the width  */
    color: white;
    margin: 10px;
    box-sizing: border-box; 
    text-align: center;
  }
  .team-member img {
    width: 400px;
    height: auto;
    border-radius: 50%;
  }
  .team-member .name {
    color: red;
    font-weight: bolder;
    font-size: 2vh;
  }
  .team-member .title {
    color: grey;
  }
  .team-member .detail {
    color: white;
    font-size: 1vh;
  }