/*---------------Netivigation Bar--------------*/
/*พื้นหลังแท้กสีดำ*/

@font-face {
font-family: "MainFont";
src:url(https://github.com/wt-imonnu/MauLaTy/blob/Template/Font/TH%20K2D%20July8.ttf); 
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  color: white;
  z-index: 10000;
}

.logo img {
  width: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  border-left: 2px solid white;
  text-decoration: none;
  color: white;
  padding: 0 20px;
}

nav ul li a:hover {
  color: #ff00c8;
}


/*---------------Back To Top--------------*/
#myBtn {
  display: none;
  position: fixed; /* ล้อกตำแหน่ง */
  bottom: 20px;
  right: 30px;
  z-index: 99; /* ล้อกตำแหน่ง */
  border: none;
  outline: none;
  background-color: #f24066;
  cursor: pointer; /* ตั้งค่าเม้า */
  padding: 10px;
  width: 45px;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 20px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  

body {
  flex-direction: column; /* Stack sections vertically */
  background-image: radial-gradient(#3e2a7b, #140d27);
}

.headertext
{
  color: white;
}

.container {
  font-family: "MainFont";
  display: flex;
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  margin-top: 50px;
  height: 500px;
  background-color: #4b38d0;
}

.carousel {
  position: relative;
  width: 400px;
  height: 500px;
  overflow: hidden;
  margin-right: 20px;
}

.carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 24s infinite;
}

.carousel img:nth-child(1) {
  animation-delay: 0s;
}
.carousel img:nth-child(2) {
  animation-delay: 3s;
}
.carousel img:nth-child(3) {
  animation-delay: 6s;
}
.carousel img:nth-child(4) {
  animation-delay: 9s;
}
.carousel img:nth-child(5) {
  animation-delay: 12s;
}
.carousel img:nth-child(6) {
  animation-delay: 15s;
}
.carousel img:nth-child(7) {
  animation-delay: 18s;
}
.carousel img:nth-child(8) {
  animation-delay: 21s;
}

@keyframes fadeIn {
  0%, 12.5%, 100% {
      opacity: 0;
  }
  12.5%, 25% {
      opacity: 1;
  }
  25%, 87.5% {
      opacity: 0;
  }
}

.text-container {
  position: relative;
  font-size: 2.5vw;
  font-weight: 400;
}

.typing-text {
  margin-left: 1vw;
  font-size: 2.5vw;
  font-weight: 1000;
  max-width: 100%;
  position: absolute;
  display: inline-block;
  color:orange;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px orange, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange, 0 0 80px orange;
  }
}

.typing-text::after {
  content: "|";
  background-color: orange;
  position: relative;
  width: 15px;
  height: 100%;
  animation: cursor 0.6s infinite;
}
@keyframes cursor {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.subtext {
  color:white;
  font-size: 1.5vw;
  margin-top: 1vh;
}

.column {
    float:left;
    margin: 5%;
    width: 33%;
    flex-direction: row;
  }
  


  .team-container {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;                  /*  allow items to wrap  */
    justify-content: center;
    gap: 25px ;
  }
  .team-member {
    display: none; /* Hide all team members by default */
    flex-basis: calc(100% - 10); /*  subtract the margin from the width  */
    color: white;
    margin: 10px;
    box-sizing: border-box; 
    text-align: center;
    word-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .team-member.active{
    display: block; /* Show active team members */
  }

  .team-member img {
    width: 500px;
    height: auto;
  }
  .team-member .name {
    color: red;
    font-weight: bolder;
    font-size: 2vh;
    word-break: break-all;
  }
  .team-member .title {
    color: grey;
    word-break: break-all;
  }
  .team-member .detail {
    color: white;
    font-size: 1vh;
    word-break: break-all;
    margin-bottom: 20px;
  }

.RoleButtons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically if needed */
  gap: 10px; /* Add some space between the buttons */
  margin-top: 20px; /* Optional: Add some top margin */
}

.RoleButton {
  font-family: "MainFont";
  font-size: 17px;
  border: none;
  padding: 1em 1.5em;
  color: #0a2244;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.RoleButton::before {
  content: "";
  border-radius: 15px;
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 4px;
  width: 0;
  background-color: orange;
  transition: 0.5s ease;
}

.RoleButton:hover,
.RoleButton.active {
  color: Orange;
  transition-delay: 0.1s;
}

.RoleButton:hover::before,
.RoleButton.active::before {
  width: 100%;
}

.RoleButton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: orange;
  transition: 0.4s ease;
  z-index: -1;
}
